<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta title="Gallery">
    <meta charset="utf-8"></meta>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport"></meta>
    <script src="/jquery-3.1.1.slim.min.js"></script>
    <script src="/tether.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/ekko-lightbox.js"></script>
    <script src="/ekko-lightbox.min.js"></script>

    <style>
div.gallery {
	margin: 15px;
	float: left;
	width: 250px;
}

div.gallery img {
	width: 100%;
	height: 25%;
}

    </style>

    <link href="/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/navbar-top-fixed.css" rel="stylesheet"></link>
    <link href="/ekko-lightbox.css" rel="stylesheet"></link>
</head>
<body>
<div align="center">
    <form action="/" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input name="file" type="file"/></td>
            </tr>
            <tr>
                <td></td>
                <input name="filename" type="text" value="File name"
                />
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
<div th:each="file : ${files1}">
    <div class="gallery">
        <a data-toggle="lightbox" th:href="${file.url}" th:title="*{file.name}">
            <img height="200" th:src="${file.thumbnailUrl}"/>
        </a>
            <form action="/delete" method="POST">
                <input name="id" th:value="*{file.id}" type="hidden"/>
                <input type="submit" value="[X]"/>
            </form>
        <div>
            <input name="name" readonly="true" style="width: 250px;" th:value="*{file.name}" type="text"/>
        </div>
    </div>
</div>
<script>
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
	event.preventDefault();
	$(this).ekkoLightbox({
                alwaysShowClose: true
            });
	});


</script>
</body>
</html>